.arch_bg{
    background-color: rgba(34, 34, 34, 0.968);
    width: 100%;
    height: 65vh;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
}

.arch_title{
    font-size: 2rem;
    text-align: center;
    border-bottom: rgba(255, 255, 255, 0.954) solid 2px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.arch_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arch_content{
    display: flex;
    margin-top: 8vh;
}


.arch_content_item{
    color: rgb(162, 12, 12);
    background-color: rgb(240, 244, 240);
    margin: 10px;
    width: 100%;
    height: 100%;
}

.arch_header{
    display: flex;
    padding:0 3rem 0;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}

.arch_header img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    margin: .5rem;
}

.arch_header a{
    margin: .5rem;
}

.arch_content_box{
    color: rgb(0, 0, 0);
    background-color: rgb(240, 244, 240);
    margin-right: 3rem;
    margin-left: 3rem;
    width: 360px;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
}


.arch_content_text{
    background-color: rgb(0, 0, 0, 0);
    /* width: 100%; */
    /* height: 100%; */
    opacity: 0;
    transition: all ease .9s;
}

.arch_content_text p{
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
}

.arch_content_text li{
    /* list-style:none; */
    padding: .5rem;
}


.arch_content_box:hover{
    background-color: rgba( 0, 0, 0, 0.5 );
    color: #fff;
}

.arch_content_box:hover .arch_content_text{
    opacity: 1;
}
@media screen and (max-width: 920px) {
    
    
    .arch_content_box{
        height: 100%;
        width: 80%;
    }
}

@media screen and (max-width: 620px) {
    .arch_content{
        display: block;
    }
    
    .arch_content_box{
        height: 50%;
    }

    .arch_bg{
        height: 100vh;
    }   
}