@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&display=swap');
@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); */

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url('https://user-images.githubusercontent.com/75570030/152113835-6025ebaf-c205-4724-b474-91330ed7b26e.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1{
  margin: 0;
}

.App{
  position: relative;
  font-family: 'GowunDodum-Regular';
  /* font-family: 'Baloo Bhaijaan 2', cursive; */
  /* font-family: 'Noto Sans KR', sans-serif; */
}

.ontop{
  position: absolute;
      top: 97%;
      bottom: 10%;
      right: 1.8%;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background: rgba(128, 128, 128, 0.507);
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(255, 255, 255, 0.479);
      cursor: pointer;
}

.ontop:active{
  transform: scale(0.9);
  background-color: red;
}