.study_bg{
    background-color: rgba(34, 34, 34, 0.968);
    width: 100%;
    height: 170vh;
    /* color: #fff; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.study_title{
    font-size: 3rem;
    text-align: center;
    /* margin-top: 1rem; */
    padding-top: 2rem;
    color: #fff;
    text-align: center;
    border-bottom: rgba(255, 255, 255, 0.954) solid 2px;
    
}

.study_box{
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    padding: 2.5rem;
    background-color: #fff;
    border-radius: 2rem;
    margin: 2rem;
    gap: 3rem;
    /* align-items: center; */
    justify-self: center;
    box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
    transition: all 0.5s ease;
    /* transform: scaleY(0.7); */
}

.study_box:hover{
    background-color: red;
    color: #fff;
    transform: scale(1.1);
   
}

.study_boxbg{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    grid-auto-rows: 1fr;
    margin: 0 auto;
    padding-top:2rem;
    width: 85%;
}

.study_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}


.study_header p:nth-child(2){
    font-size: 1.1rem;
    font-weight: 500;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.study_header p:nth-child(3){
    font-size: 1rem;
}

.study_link{
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    text-decoration: underline;
}

.study_text{
    font-weight: 500;
}


@media screen and (max-width: 920px) {
    .study_boxbg{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .study_bg{
        height: 300vh;
    }
}

@media screen and (max-width: 574px) {
    .study_bg{
        height: 290vh;
    } 
}